<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="image/png" rel="icon" href="/icon/icon.png">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/jQuery.js"></script>
    <script type="text/javascript" src="/js/html5-qrcode.js"></script>
    <script type="text/javascript" src="/js/sweetAlert.js"></script>
    <style>
        #my-qr-reader {
            padding: 20px !important;
            border-radius: 0.5rem;
        }

        #my-qr-reader img[alt="Info icon"] {
            display: none;
        }

        #my-qr-reader img[alt="Camera based scan"] {
            width: 100px !important;
            height: 100px !important;
        }

        video {
            width: 100% !important;
            border: 1px solid #b2b2b2 !important;
            border-radius: 0.25em;
        }

        #scanImage {
            width: 100%;
            margin: 20px;
            object-fit: contain;
        }
    </style>
</head>

<body class="bg-light text-center">
    <div class="container mt-4" style="max-width: 400px;">
        <h1 class="mb-4">Scan Attendance QR Code</h1>
        <div class="card shadow-sm p-3">
            <!-- Image Inside the Card -->
            <img id="scanImage" src="/image/qr-scan.png" alt="Your Image" class="img-fluid mb-3">
            
            <div id="my-qr-reader" class="mb-3 border"></div>
            <button id="toggleScannerBtn" state="start" class="btn btn-success w-100">Start Scanning</button>
        </div>
    </div>

    <script>
        const toggleScannerBtn = $('#toggleScannerBtn');
        const scanImage = $('#scanImage');
        const quCodeContainer = $('#my-qr-reader');
        quCodeContainer.hide();

        const html5QrCode = new Html5Qrcode("my-qr-reader");
        const config = { fps: 10, qrbox: { width: 250, height: 250 } };

        toggleScannerBtn.on('click', () => {
            const state = toggleScannerBtn.attr('state');
            if (state === 'start') {
                toggleScannerBtn.text('Starting...');
                toggleScannerBtn.attr('disabled', 'disabled');
                startScanning();
            } else if (state === 'stop') {
                toggleScannerBtn.text('Stopping...');
                toggleScannerBtn.attr('disabled', 'disabled');
                stopScanning();
            }
        });

        function onScanSuccess(decodeText) {
            stopScanning();

            const qrData = decodeText.split(',');

            if (qrData.length !== 2) {
                showErrorAlert('Invalid QR Code');
            } else {
                recordAttendance(qrData[0], qrData[1]);
            }
        }

        function recordAttendance(rollCallId, attendanceCode) {
            const settings = {
                "url": "/api/attendances/attendance_scan",
                "method": "POST",
                "timeout": 0,
                "headers": {
                "Content-Type": "application/json"
                },
                "data": JSON.stringify({
                    roll_call_id: rollCallId,
                    attendance_code: attendanceCode
                }),
            };

            $.post(
                settings
            ).always(function (data, status, xhr) {
                    console.log(data);
                    if (data.status === 200) {
                        showSuccessAlert('Attendance recorded.');
                    } else if (data.status === 400) {
                        showErrorAlert(data.message);
                    }
                }
            );
        }

        function startScanning() {
            html5QrCode.start(
                { facingMode: "environment" },
                config,
                onScanSuccess
            );

            toggleScannerBtn.text('Stop Scanning');
            toggleScannerBtn.attr('state', 'stop');
            toggleScannerBtn.removeAttr('disabled');
            scanImage.hide();
            quCodeContainer.show();
        }

        function stopScanning() {
            html5QrCode.stop()
                .then((ignore) => {
                    toggleScannerBtn.text('Start Scanning');
                    toggleScannerBtn.attr('state', 'start');
                    toggleScannerBtn.removeAttr('disabled');
                    scanImage.show();
                    quCodeContainer.hide();
                })
                .catch((err) => {
                    toggleScannerBtn.text('Stop Scanning');
                    toggleScannerBtn.attr('state', 'stop');
                    toggleScannerBtn.removeAttr('disabled');
                    scanImage.hide();
                    quCodeContainer.show();
                });
        }

        function showErrorAlert(text) {
            swal(
                text,
                {
                    icon: "error",
                }
            );
        }

        function showSuccessAlert(text) {
            swal(
                text,
                {
                    icon: "success",
                }
            );
        }
    </script>
</body>

</html>
