<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link type="image/png" rel="icon" href="/icon/icon.png">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/jQuery.js"></script>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #ecf0f3;
            margin: 0;
            padding: 0;
        }

        .navbar {
            background-color: #1e56a6;
        }

        .navbar-brand, .nav-link {
            color: #fff !important;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#">Attendance System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Terms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/instructor_registration">Instructors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/students">Students</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Attendance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a id="logoutMenuItem" class="nav-link">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="main-content">
    
    </section>
    <script>
        const logoutMenuItem = $('#logoutMenuItem');

        logoutMenuItem.on('click', logout);

        function logout() {
            console.log('Logging out');
            const settings = {
                "url": "/api/auth/logout",
                "method": "POST",
                "timeout": 0,
            };

            $.post(
                settings
            ).always(function (data, status, xhr) {
                console.log(data);
                    if (data.status === 204) {
                        window.location.replace('/login');
                    }
                }
            );
        }
    </script>
</body>
</html>
